@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  @apply bg-[#111827];
}

.bg-secondary {
  @apply bg-[#1f2937];
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

* {
  -webkit-tap-highlight-color: transparent;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 0.5rem !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
